.App__box{
    width: 1000px;
    height: 720px;
    background-color: rgba(248,252,69,1);
    box-shadow: 0px 4px 10px 4px rgb(16, 119, 244);
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    padding: 32px;
    padding-top: 16px;
}

.App__header{
    height: 100px;
    display: flex;
    align-items: center;
    
}

.App__logo{
    margin-left: auto;
}