.Info__box, .Info__loadingBox, .Info__errorBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.Info__title{
    color: rgb(16, 119, 244);
    font-size: 44px;
}

.Info__text{
    color: rgb(16, 119, 244);
    font-size: 44px;
}

.Info__pending{
   
    color: rgb(16, 119, 244);
    font-size: 40px;
}

.Info__card {
    height: 550px;
    padding: 32px;
	display: flex;
    background-color: rgba(180, 4, 4, 0.784);

}

.Info__pokemonImg{
    width: 450px;  
    margin-right: 44px;  
    border-radius: 8px;
    background-color: aliceblue;
}

.Info_name{
    
    font-size: 24px;
    text-transform:uppercase;
    color: rgb(16, 119, 244);
}

.Info__error{
    color: rgb(204, 51, 61);
    font-size: 44px;
}

.Data__list{
    list-style: none;
    font-size: 28px;
    
}

.Data__item{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-bottom: 16px;
    padding: 15px 20px;
    border-radius: 8px;
    background-color: rgba(240, 248, 255, 0.619);
}

.Data__text{
    color: rgb(204, 51, 61);
    text-transform: capitalize ;
}

.Data__value{    
    color: rgb(16, 119, 244);
}

.Pending__box{
    
    display: flex;
    align-items: center;
}

.Pending__spinner{
    
    margin:0;
}